[Unit]
Description=WifiSetup

[Service]
User=root
ExecStart=/script/wifi_setup.sh 'Demo box' 'demobox234'
RemainAfterExit=yes
StartLimitInterval=10

[Install]
WantedBy=multi-user.target
