[Unit]
Description=4gSetup

[Service]
User=root
ExecStart=/script/4g_setup.sh
Restart=always
RestartSec=5
StartLimitInterval=10

[Install]
WantedBy=multi-user.target
