[Unit]
Description=RestreamApp

[Service]
User=root
ExecStart=/usr/local/linuxapp/bin/MqttClient
Restart=always

[Install]
WantedBy=multi-user.target
